.joke__add {
  padding: 40px 0 20px;
  text-align: center;
}
.joke__btn {
  display: inline-block;
  padding: 10px 30px;
  border: none;
  background: #CD442A;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.joke__btn:active {
  outline: none;
}
.joke__desc {
  margin: 10px 0;
  font-weight: normal;
}