.jokes {
  margin: 30px auto;
  max-width: 600px;
  background: #f3f3f3;
}
.joke__list {
  padding: 0 15px 15px;
}
.joke__item {
  margin-bottom: 5px;
  border-left: 3px solid #68a36d;
  padding: 10px 10px 10px 20px;
  background: #9EEBA3;
  font-size: 14px;
}