.movie__add {
  margin-bottom: 15px;
}
.movie__form {
  display: flex;
}
.movie__input {
  flex: 1 1 auto;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  color: #666;
}
.movie__btn {
  padding: 10px 20px;
  background: #30336b;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}